html {
	height: 100%; 
	background-color: rgb(53, 53, 53);
	background-image: linear-gradient(rgb(56, 56, 56), rgb(36, 36, 36));
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
	font-family: calibri, arial, verdana, serif;
	font-weight: lighter;
	font-size: 14pt;
	color: rgb(255, 255, 255);

	padding-top: 2%;
  	padding-bottom: 5%;
  	padding-left: 20%;
  	padding-right: 20%;

}

a {
	color: inherit;
	text-decoration: inherit;
}

.navbar{
	clear: both;
}

.profileimg{
	
	background-image: url(./assets/Jubilee\ Library.jpg);
	
  	width: 10%;
  	height: 18%;
	  left: 50%;
	  top: 40%;
  	
	border-radius: 50%;
  
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	position: absolute;
        
       
        margin-left: -5%; /*half the image width*/
        margin-top: -9%; /*half the image height*/
}
