html {
	font-family: calibri, arial, verdana, serif;
	font-weight: normal;
	font-size: 12pt;
	color: rgb(255, 255, 255);

	height: 100%; 
	background-color: rgb(53, 53, 53);
	/*background-image: linear-gradient(rgb(56, 56, 56), rgb(36, 36, 36));*/
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

